# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/
*.sqlite3

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VSCode or PyCharm config (optional)
.vscode/
.idea/

# Logs
*.log
